# Seeed Studio XIAO HaLow Transceiver (MorseMicro MM6108)
# 8 MB flash — partitions.csv (2x3M OTA + data) needs >4 MB.
# CONFIG_ESPTOOLPY_FLASHSIZE_4MB is not set
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="8MB"

CONFIG_SNAPCLIENT_USE_HALOW=y
CONFIG_HALOW_COUNTRY_CODE="AU"
CONFIG_MMHAL_CHIP_TYPE_MM6108=y
# CONFIG_MMHAL_CHIP_TYPE_MM8108 is not set
CONFIG_MM_FW_FILE="mm6108.mbin"
CONFIG_MM_BCF_FILE="bcf_fgh100mhaamd.mbin"

# GPIO pinout on XIAO ESP32-S3
CONFIG_MM_RESET_N=1
CONFIG_MM_WAKE=2
CONFIG_MM_BUSY=5
CONFIG_MM_SPI_SCK=7
CONFIG_MM_SPI_MOSI=9
CONFIG_MM_SPI_MISO=8
CONFIG_MM_SPI_CS=4
CONFIG_MM_SPI_IRQ=3

# Disable PM/tickless idle
# CONFIG_PM_ENABLE is not set
# CONFIG_FREERTOS_USE_TICKLESS_IDLE is not set

# Move Wi-Fi/LWIP buffers to PSRAM
CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y

CONFIG_ENABLE_HALOW_PROVISIONING=y
CONFIG_HALOW_PROV_POP="longwave"